@charset "UTF-8";
@media (min-width:320px) and (max-width:500px){
.userManagement .showMobile{display:inline-block!important}
.userManagement .hideMobile{display:none!important}
.userManagement .container-Grid{padding:0 20px}
.userManagement .auc-Btnmobile~.header{top: 63px;}
.userManagement .logo img{width:100px!important;top:4px!important}
.userManagement .rgdev-item a{padding:7px 10px}
.userManagement .rgdev-mobile{top:24px!important;right:72px!important;-webkit-transform:scale(.7);transform:scale(.7)}
.userManagement .mobile-Item01{top:6px!important;right:65px!important}
.userManagement .mobile-Item02{top:-2px!important;-webkit-transform:scale(.85)!important;transform:scale(.75)!important;right:8px!important}
.userManagement .lanbox01{width:33.33%}
.userManagement .mobile-sub{padding:15px!important}
.userManagement .rgdev-item a{font-size:13px}
.userManagement .rgdev-item .langBox{padding-right:0;padding-left:0;-webkit-transform:scale(.6);transform:scale(.6);top:-12px;position:relative;right:-4px}
.userManagement .langBoxContainer{top:10px!important}
.userManagement .user-Bg{padding:50px 20px;min-height:calc(100vh - 371px)}
.userManagement .user-smallBox{padding:20px}
.userManagement .auc-Btn{display:none}
.userManagement .auc-Btnmobile{background:#f54f37;width:100%;padding:10px;text-align:center;font-size:14px;font-weight:700;position:fixed;width:100%;z-index:10}
.userManagement .auc-Btnmobile a{color:#fff;display:block}
.userManagement .user-Icon{font-size:21px}
.userManagement .user-Menu:before{font-size:14px}
.userManagement .main{margin-top:42px}
.userManagement .auc-Btnmobile~.main{margin-top: 102px;}
.userManagement .fullscreen-bg{background:url(../../images/email_verification_images/banner-bg.jpg) center center/cover no-repeat}
.userManagement .fullscreen-bg__video{display:none}
.userManagement .Title01{font-size:20px}
.userManagement .user-Bg .user-smallBox .Title01{font-size:18px}
.userManagement .btn-large{height:50px;line-height:50px;font-size: 17px;margin-top:20px;}
.userManagement .input-Bx{margin-top:20px}
.userManagement .input-Bx .icon-Box{top:15px;left:15px}
.userManagement .input-Bx input{height:50px;line-height:50px;padding:5px 5px 5px 45px;font-size:15px}
.userManagement .user-smallBlock p, .userManagement .user-smallBox p{line-height:15px;font-size:12px}
.userManagement .user-smallBlock p a, .userManagement .user-smallBox p a{font-size:12px}
.userManagement .email-Wrap{width:100%;padding:15px 10px;border-left:5px solid #ff4f37}
.userManagement .email-Textbox{padding:0}
.userManagement .email-Text{font-size:14px;line-height:20px;margin-bottom:5px}
.userManagement .email-Links{flex-direction:column}
.userManagement .email-Links li:first-child{border:none;padding:0;margin:0}
.userManagement .email-Links a{font-size:14px;line-height:22px}
.userManagement .tokens-Popup{overflow-x:hidden;overflow-y:auto}
.userManagement .tokens-Popup .Title01{margin-top:0;font-size:16px;line-height:22px;margin-bottom:25px}
.userManagement .tokens-Popup .close-Icon img{width:37px}
.userManagement .tokens-Popup .token-Box{margin:0}
.userManagement .token-Wrap{margin:70px 0}
.userManagement .token-Box .token-Box01{width:50%;padding:0 10px}
.userManagement .token-Box .token-Box01 .img-Box{height:100px;margin-bottom:15px}
.userManagement .token-Box .token-Box01:first-child .img-Box img{width:50px}
.userManagement .token-Box .token-Box01:nth-child(2) .img-Box img{width:90px}
.userManagement .token-Box .token-Box01:nth-child(3) .img-Box img{width:85px}
.userManagement .token-Box .token-Box01:last-child .img-Box img{width:88px}
.userManagement .Title01+.tab-Nav{margin-top:30px}
.userManagement .tab-Nav{margin-top:20px}
.userManagement .tab-Nav .tab-Link{font-size:18px;width:100%;padding-bottom:20px}
.userManagement .tab-Nav .tab-Link{padding:10px 0}
.userManagement .word-Break{word-break:break-all}
.userManagement .main-Popup .user-smallBox .Title01{font-size:20px}
.userManagement .kyc-Status, .userManagement .login-Status{width:100%}
.userManagement .login-Status{text-align:left}
.userManagement .user-titleBox{padding-top:20px}
.userManagement .kyc-Status ul{justify-content:flex-start}
.userManagement .kyc-Status ul li{font-size:12px;line-height:1;margin-bottom:0;text-align:left;padding-right:0}
.userManagement .kyc-Status ul li .circle-Bx{width:24px;height:24px;text-align:center;margin-right:5px}
.userManagement .kyc-Status ul li:last-child{margin-right:0}
.userManagement .kyc-Status ul li:not(:last-child){margin-right:10px;margin-bottom:15px}
.userManagement .kyc-Status ul li:before{display:none}
.userManagement .kyc-Status ul li:not(:last-child):after{content:"";width:40px;height:1px;background:#95c608;display:inline-block;vertical-align:middle;margin-left:5px;position:relative;top:-2px}
.userManagement .kyc-Status ul li .kyc-text{position:relative;top:-5px;margin-bottom:0;padding-top:0;text-align:center}
.userManagement .kyc-Status ul li:last-child .kyc-text{left:0}
.userManagement .login-Status{margin-top:20px;margin-bottom:0}
.userManagement .input-Bx01{margin-bottom:10px;padding-bottom:10px}
.userManagement .input-Bx01 label{font-size:14px;width:100%;padding-right:0;padding-bottom:10px}
.userManagement .input-Bx01 input{width:100%;font-size:14px;height:50px;padding:10px}
.userManagement .input-Bx01 a.edit-Btn{top:40px;font-size:16px;right:15px}
.userManagement .user-Bg01{padding-bottom:0;min-height:auto}
.userManagement .user-Info{padding:20px 0}
.userManagement .user-Info .input-Bx01 label:before{display:none}
.userManagement .edge-Holding{padding:20px 0 30px}
.userManagement .edge-Holding .Title02{font-size:20px;line-height:24px;margin-bottom:10px}
.userManagement .edge-holdingBlock, .userManagement .edge-holdingBlock02{padding:0}
.userManagement .edge-holdingBlock .Title02{margin-bottom:10px}
.userManagement .edge-holdingBlock02 .edge-Coins .edge-Coin p{font-size:14px;width:100%;margin:0 auto}
.userManagement .edge-Coins .edge-Coin{width:100%;margin-bottom:40px}
.userManagement .edge-Coin .coins-Status .coin-Available{padding:0}
.userManagement .edge-Coins .edge-Coin .img-Box{margin-bottom:30px}
.userManagement .edge-Coins .edge-Coin .text-Caption{width:100%;top:50px}
.userManagement .edge-Coin .coins-Status .coin-Amt{font-size:15px}
.userManagement .edge-Coin .coins-Status .coin-Amt span{font-size:15px}
.userManagement .edge-Coin .coins-Status .coin-Available p{font-size:14px;line-height:20px}
.userManagement .edge-Coin .coin-Locked a{font-size:12px}
.userManagement .edge-Coin .btn-Wrap .buy-Btn, .userManagement .edge-Coin .btn-Wrap .sell-Btn{font-size:13px}
.userManagement .edge-Coins .edge-Coin .text-Caption .Title02{margin-bottom:10px;font-size:18px;line-height:24px}
.userManagement .edge-Coin:first-child .btn-Wrap{margin-top:60px}
.userManagement .edge-Coin .btn-Wrap{margin-top:85px}
.userManagement .edge-holdingBlock02 .edge-Coins .edge-Coin .title-Wrap{width:70%}
.userManagement .edge-holdingBlock02 .edge-Coins .edge-Coin .title-Wrap p{font-size:14px}
.userManagement .Title02{font-size:20px;line-height:30px;margin-bottom:20px}
.userManagement .user-infoBox01{width:100%;padding-right:0;margin-bottom:20px;padding-bottom:20px;border-right:none;border-bottom:1px solid rgba(255,255,255,.1)}
.userManagement .user-infoBox02{width:100%;padding-left:0;position: relative;}
.userManagement .user-infoBox .Title02{font-size:18px;margin-bottom:10px}
.userManagement .wallet-Id{width:100%}
.userManagement .wallet-Id a.wallet-Id01{font-size:12px;height:50px;line-height:1.2;word-break:break-all;padding:10px}
.userManagement .wallet-Id .wallet-Id02 a{font-size:11px;padding:10px;word-break:break-word}
.userManagement .legder-Wallet{flex-direction:column;align-items:flex-start;margin-bottom:20px}
.userManagement .legder-Wallet span{padding-left:5px;padding-right:0}
.userManagement .legder-Wallet .Title03{font-size:16px;margin-top:5px}
.userManagement .ledger-Block{padding-top:20px}
.userManagement .ledger-Table{margin-top:10px}
.userManagement .ledger-Block .Title02{font-size:20px;color:#fff;margin-bottom:5px;line-height:24px}
.userManagement .ledger-Block .ledger-Table{padding:0}
.userManagement .ledger-Block .ledger-Table~.ledger-Table{padding:10px 0 20px}
.userManagement .legder-Wallet span a.edit-Btn{-webkit-transform:scale(.7);transform:scale(.7);vertical-align:middle}
.userManagement .ledger-Table table tr td, .userManagement .ledger-Table table tr th{padding:10px;font-size:12px;text-align:left;border:none;border-left:none;border-top:none;border:1px solid #051c23;width:30%}
.userManagement .ledger-Table table tr.border-Top{border-top:2px solid #faba37}
.userManagement .ledger-Table table tr:last-child td, .userManagement .ledger-Table table tr:last-child th{border-bottom:none}
.userManagement .metamask-Wrap{padding-top:5px}
.userManagement .metamask-Detail .Title03{font-size:16px;margin-bottom:5px;margin-top:0}
.userManagement .metamask-Detail .total-Amt{font-size:20px;line-height:30px;margin-bottom:10px}
.userManagement .metamask-Detail .sub-Amt{font-size:16px;margin-bottom:10px}
.userManagement .metamask-Detail .sub-Amt span{font-size:16px}
.userManagement .metamask-Box .metamask-Box01{padding:20px}
.userManagement .metamask-Box .metamask-Box01 img{-webkit-transform:scale(.7);transform:scale(.7)}
.userManagement .metamask-Box{width:100%;padding:0}
.userManagement .metamask-Detail{width:100%;padding-left:0;padding-top:10px}
.userManagement .metamask-Detail .add-Credit{margin-top:5px;font-size:13px;padding:8px 10px}
.userManagement .metamask-Box .btn{height:50px;line-height:50px;font-size:16px}
.userManagement .metamask-Box p a{font-size:13px}
.userManagement .metamask-Box .metamask-Box01 .title-Name{font-size:16px;margin-top:0}
.userManagement .tokens-Popup, .userManagement .tokens-Popup02{overflow-y:scroll}
.userManagement .token-Box .token-Box02{width:100%;margin-bottom:20px}
.userManagement .token-Box .token-Box02:nth-child(3){margin-bottom:0}
.userManagement .tokens-Popup02 .token-Box{margin:0;padding:30px 0}
.userManagement .tokens-Popup02 .token-Box{position:relative;top:0;left:0;transform:none}
.userManagement .tokens-Popup .close-Icon, .userManagement .tokens-Popup02 .close-Icon, .userManagement .verification-Popup .close-Icon, .userManagement .wallet-Popup .close-Icon{top:0;right:0;-webkit-transform:scale(.6);transform:scale(.6)}
.userManagement .token-Box .token-Box02 .img-Box{height:250px}
.userManagement .tokens-Popup .close-Icon img, .userManagement .tokens-Popup02 .close-Icon img, .userManagement .wallet-Popup .close-Icon img{width:30px;height:30px}
.userManagement .tokens-Popup02 .addfund-container{margin:70px 0 20px}
.userManagement .main-Popup .user-smallBlock{margin:0 20px}
.userManagement .main-Popup .close-Icon02, .userManagement .wallet-Popup .close-Icon{width:60px;height:60px;-webkit-transform:scale(.6);transform:scale(.6);right:-3px;top:-8px}
.userManagement .main-Popup .btn-large, .userManagement .user-Bg .user-smallBox .btn{height:50px;line-height:50px;margin-top:20px;font-size:16px;width:100%}
.userManagement .main-Popup.verify-Code p{font-size:12px;margin:10px 0}
.userManagement .metamask-Detail .text-Title{font-size:14px;line-height:22px}
.userManagement .search-Bx input{font-size:15px;line-height:20px}
.userManagement .search-Bx a{-webkit-transform:scale(.6);transform:scale(.6);margin-right:0;position:relative;top:5px}
.userManagement .wallet-popupBlock{padding:30px 20px}
.userManagement .search-Bx{padding-bottom:10px;margin-bottom:15px}
.userManagement .wallet-boxWrap .wallet-Bx{width:100%;margin-bottom:20px}
.userManagement .wallet-boxWrap .wallet-Bx .img-Box{height:230px}
.userManagement .wallet-boxWrap .wallet-Bx .img-Box .title-Name{font-size:16px;bottom:20px}
.userManagement .wallet-boxWrap .wallet-Bx .img-Box img{-webkit-transform:scale(1);transform:scale(1)}
.userManagement .verification-Popup .tab-Content#tab-4, .userManagement .verification-Popup .tab-Content#tab-5{margin-top:30px;min-height:260px}
.userManagement .verification-Popup .tab-Nav .tab-Link{width:100%}
.userManagement .verification-Popup .input-Bx03{height:60px}
.userManagement .verification-Popup .input-Bx03 .icon-Box{font-size:24px;top:17px}
.userManagement .verification-Popup .join-Btn{line-height:60px;font-size:20px}
.userManagement .verification-Popup{margin-top:0}
.userManagement .verification-Popup .input-Bx03{flex-wrap:wrap;margin-top:20px;flex-direction:row}
.userManagement .joinpsDropdown, .userManagement .verification-Popup .input-Bx03 input{width:100%}
.userManagement .verification-Popup .join-Btn{width:100%;margin-top:20px;/* border-radius:50px */}
.userManagement .joinpsCmenu:after{top:25px}
.userManagement .joinpsCtextbox{line-height:60px;height:60px}
.userManagement .joinpsCtextbox span+span input{height:60px!important}
.userManagement .joinpsCmenu{min-height:60px;padding:5px 10px}
.userManagement .joinpsCtextbox span{line-height:60px}
.userManagement .footer{padding:30px 20px;margin-left:0}
.userManagement .footer .footer-left, .userManagement .footer .footer-right{width:100%;text-align:center}
.userManagement .footer .footer-right .social-Icons{padding-bottom:20px}
.userManagement .footer .footer-left{margin-bottom:30px}
.userManagement .footer .footer-left .f-Link a{font-size:12px;padding:0 5px}
.userManagement .footer .footer-left .footer-logo>a{padding-right:0;margin-bottom:30px}
.userManagement .footer .footer-left p span{display:block;margin-bottom:5px}
.userManagement .footer .footer-left p{line-height:20px;margin-top:5px}
.userManagement .footer .footer-right p{font-size:13px;display:inline}
.userManagement .footer{padding:0 20px 0;margin-left:0}
.userManagement .footer .footer-left, .userManagement .footer .footer-right{width:100%;text-align:center}
.userManagement .footer .footer-right .social-Icons{padding-bottom:20px}
.userManagement .footer .footer-left{margin-bottom:30px;margin-top:15px}
.userManagement .footer .footer-left .f-Link a{font-size:12px;padding:0 5px}
.userManagement .footer .footer-left .footer-logo>a{padding-right:0;margin-bottom:30px;margin-right:18px}
.userManagement .footer .footer-left p span{display:block;margin-bottom:5px}
.userManagement .footer .footer-left p{line-height:20px;margin-top:5px}
.userManagement .footer .footer-right p{font-size:13px;display:inline}
.userManagement .legder-Wallet02{flex-wrap:wrap;flex-direction:column;align-content:flex-start}
.userManagement .legder-Wallet02 .Title03{width:100%}
.userManagement .wallet-Id-2{width:100%;position:relative}
.userManagement .AprWalBox{display:flex;flex-wrap:wrap;font-size:16px}
.userManagement .AprWalBox span:nth-child(1){width:30%;margin-bottom:10px}
.userManagement .AprWalBox span:nth-child(2){width:70%;text-align:left;padding-right:15px;word-break:break-all}
.userManagement .AprWalBox span:nth-child(3){width:85%;color:#faba37;word-break:break-all}
.userManagement .AprWalBox span:nth-child(4){width:15%;text-align:right}
.userManagement .wallet-Id-2 a.wallet-Id01{font-size:14px;word-break:break-all;height:auto;line-height:20px;padding:9px}
.userManagement .wallet-Id-2 .wallet-Id02 a{padding:11px;font-size:14px;word-break:break-all}
.userManagement .search-btn-bx{width:100%;font-size:16px;color:#fff;text-align:CENTER;padding-top:20px}
.userManagement .search-btn-bx a{color:#fff;font-weight:600}
.userManagement .search-btn-bx a:hover{color:#faba37}
.userManagement .search-Bx{margin-bottom:0;padding:15px;background-color:#0d0d0d;border:2px solid #1a1a1a;border-radius:5px;width:100%}
.userManagement .addWall_input input{width:100%;height:70px;font-size:18px}
.userManagement .delConBTN{font-size:22px;font-weight:500;padding:14px 18px;min-width:100px;margin:0 10px}
.userManagement .footer .footer-left .f-Link{position:relative;top:-15px}
.userManagement .verification-Popup #tab-5 .join-Btn{width:100%;border-radius:6px!important;}
.userManagement .uc-btn01, .userManagement .uc-btn02{font:700 20px/26px Montserrat,sans-serif;padding:12px 24px;white-space:nowrap;margin:10px;min-width:150px;text-align:center}



.userManagement .uc-btn03, .userManagement .uc-btn04{width:100%;margin:0 0 10px 0;word-break: break-all;white-space: normal;line-height: 20px;padding: 12px 33px;font-size: 15px;}
.userManagement .User-CoinPopup {top: 200px;}
.userManagement .User-CoinPopup.Open {right: -56%;}
.userManagement .logo a img{max-width: 116px;}
.userManagement .auc-Btn{font-size:18px;padding: 38px 0 0 72px;}
.userManagement #um-timer02 .days span, .userManagement #um-timer02 .hours span, .userManagement #um-timer02 .minutes span, .userManagement #um-timer02 .seconds span{display:inline-block;width: 19px;height: 25px;font-size: 20px;} 
.userManagement .joinpsCmenu02Container {height: 250px;overflow-y: scroll;}
 

.userManagement .ucp-Title01{font-size: 16px;color: #fff;font-weight:700;letter-spacing: -1px;margin-bottom: 16px;}
.userManagement .ucp-Title02{color: #faba37;font-size: 16px;font-weight:700;}
.userManagement .ucp-Title02 span{display: block; margin-bottom: 10px;}
.userManagement .ucp-Title02 .greenText{font-size: 34px;color:#95c608;text-decoration: underline;margin: 14px 0;}

.userManagement .ucp-CloseBTN{font-size:24px;color: #fff;width: 44px;height: 44px;border-radius: 8px 0 0 8px;background: url(../../images/email_verification_images/coinPopupBG.png) left top no-repeat;display: block;position: absolute;left: -44px;top: 50%;border: 3px solid #1c1c1c;padding: 6px;text-align: center;border-right: 0px;}



}
@media (min-width:501px) and (max-width:767px){
.userManagement .showMobile{display:inline-block!important}
.userManagement .hideMobile{display:none!important}
.userManagement .container-Grid{padding:0 20px}
.userManagement .auc-Btnmobile~.header{top: 62px;}
.userManagement .logo img{width:100px!important;top:4px!important}
.userManagement .rgdev-item a{padding:7px 10px}
.userManagement .rgdev-mobile{top:24px!important;right:72px!important;-webkit-transform:scale(.7);transform:scale(.7)}
.userManagement .mobile-Item01{top:6px!important;right:65px!important}
.userManagement .mobile-Item02{top:-2px!important;-webkit-transform:scale(.85)!important;transform:scale(.75)!important;right:8px!important}
.userManagement .lanbox01{width:33.33%}
.userManagement .mobile-sub{padding:15px!important}
.userManagement .rgdev-item a{font-size:13px}
.userManagement .rgdev-item .langBox{padding-right:0;padding-left:0;-webkit-transform:scale(.6);transform:scale(.6);top:-12px;position:relative;right:-4px}
.userManagement .langBoxContainer{top:10px!important}
.userManagement .user-Bg{padding:50px 20px;min-height:auto}
.userManagement .user-smallBox{padding:20px}
.userManagement .auc-Btn{display:none}
.userManagement .auc-Btnmobile{background:#f54f37;width:100%;padding:10px;text-align:center;font-size:14px;font-weight:700;position:fixed;width:100%;z-index:10}
.userManagement .auc-Btnmobile a{color:#fff;display:block}
.userManagement .user-Icon{font-size:21px}
.userManagement .user-Menu:before{font-size:14px}
.userManagement .main{margin-top:42px}
.userManagement .auc-Btnmobile~.main{margin-top: 109px;}
.userManagement .fullscreen-bg{background:url(../../images/email_verification_images/banner-bg.jpg) center center/cover no-repeat}
.userManagement .fullscreen-bg__video{display:none}
.userManagement .Title01{font-size:20px}
.userManagement .user-Bg .user-smallBox .Title01{font-size:18px}
.userManagement .btn-large{height:50px;line-height:50px;font-size:20px;margin-top:20px}
.userManagement .input-Bx{margin-top:20px}
.userManagement .input-Bx .icon-Box{top:15px;left:15px}
.userManagement .input-Bx input{height:50px;line-height:50px;padding:5px 5px 5px 45px;font-size:15px}
.userManagement .user-smallBlock p, .userManagement .user-smallBox p{line-height:15px;font-size:12px}
.userManagement .user-smallBlock p a, .userManagement .user-smallBox p a{font-size:12px}
.userManagement .email-Wrap{width:100%;padding:15px 10px;border-left:5px solid #ff4f37}
.userManagement .email-Textbox{padding:0}
.userManagement .email-Text{font-size:14px;line-height:20px;margin-bottom:5px}
.userManagement .email-Links{flex-direction:column}
.userManagement .email-Links li:first-child{border:none;padding:0;margin:0}
.userManagement .email-Links a{font-size:14px;line-height:22px}
.userManagement .tokens-Popup{overflow-x:hidden;overflow-y:auto}
.userManagement .tokens-Popup .Title01{margin-top:0;font-size:16px;line-height:22px;margin-bottom:25px}
.userManagement .tokens-Popup .close-Icon img{width:37px}
.userManagement .tokens-Popup .token-Box{margin:0}
.userManagement .token-Wrap{margin:70px 0}
.userManagement .token-Box .token-Box01{width:50%;padding:0 10px}
.userManagement .token-Box .token-Box01 .img-Box{height:100px;margin-bottom:15px}
.userManagement .token-Box .token-Box01:first-child .img-Box img{width:50px}
.userManagement .token-Box .token-Box01:nth-child(2) .img-Box img{width:90px}
.userManagement .token-Box .token-Box01:nth-child(3) .img-Box img{width:85px}
.userManagement .token-Box .token-Box01:last-child .img-Box img{width:88px}
.userManagement .Title01+.tab-Nav{margin-top:30px}
.userManagement .tab-Nav{margin-top:20px}
.userManagement .tab-Nav .tab-Link{font-size:18px;width:100%;padding-bottom:20px}
.userManagement .tab-Nav .tab-Link{padding:18px 0}
.userManagement .word-Break{word-break:break-all}
.userManagement .main-Popup .user-smallBox .Title01{font-size:20px}
.userManagement .kyc-Status, .userManagement .login-Status{width:100%}
.userManagement .login-Status{text-align:left}
.userManagement .user-titleBox{padding-top:20px}
.userManagement .kyc-Status ul{justify-content:flex-start}
.userManagement .kyc-Status ul li{font-size:12px;line-height:1;margin-bottom:0;text-align:left;padding-right:0}
.userManagement .kyc-Status ul li .circle-Bx{width:24px;height:24px;text-align:center;margin-right:5px}
.userManagement .kyc-Status ul li:last-child{margin-right:0}
.userManagement .kyc-Status ul li:not(:last-child){margin-right:10px;margin-bottom:15px}
.userManagement .kyc-Status ul li:before{display:none}
.userManagement .kyc-Status ul li:not(:last-child):after{content:"";width:40px;height:1px;background:#95c608;display:inline-block;vertical-align:middle;margin-left:5px;position:relative;top:-2px}
.userManagement .kyc-Status ul li .kyc-text{position:relative;top:-5px;margin-bottom:0;padding-top:0;text-align:center}
.userManagement .kyc-Status ul li:last-child .kyc-text{left:0}
.userManagement .login-Status{margin-top:20px;margin-bottom:0}
.userManagement .input-Bx01{margin-bottom:10px;padding-bottom:10px}
.userManagement .input-Bx01 label{font-size:14px;width:100%;padding-right:0;padding-bottom:10px}
.userManagement .input-Bx01 input{width:100%;font-size:14px;height:50px;padding:10px}
.userManagement .input-Bx01 a.edit-Btn{top:40px;font-size:16px;right:15px}
.userManagement .user-Bg01{padding-bottom:0;min-height:auto}
.userManagement .user-Info{padding:20px 0}
.userManagement .user-Info .input-Bx01 label:before{display:none}
.userManagement .edge-Holding{padding:20px 0 30px}
.userManagement .edge-Holding .Title02{font-size:20px;line-height:24px;margin-bottom:10px}
.userManagement .edge-holdingBlock, .userManagement .edge-holdingBlock02{padding:0}
.userManagement .edge-holdingBlock .Title02{margin-bottom:10px}
.userManagement .edge-holdingBlock02 .edge-Coins .edge-Coin p{font-size:14px;width:100%;margin:0 auto}
.userManagement .edge-Coins .edge-Coin{width:100%;margin-bottom:40px}
.userManagement .edge-Coin .coins-Status .coin-Available{padding:0}
.userManagement .edge-Coins .edge-Coin .img-Box{margin-bottom:30px}
.userManagement .edge-Coins .edge-Coin .text-Caption{width:100%;top:50px}
.userManagement .edge-Coin .coins-Status .coin-Amt{font-size:15px}
.userManagement .edge-Coin .coins-Status .coin-Amt span{font-size:15px}
.userManagement .edge-Coin .coins-Status .coin-Available p{font-size:14px;line-height:20px}
.userManagement .edge-Coin .coin-Locked a{font-size:12px}
.userManagement .edge-Coin .btn-Wrap .buy-Btn, .userManagement .edge-Coin .btn-Wrap .sell-Btn{font-size:13px}
.userManagement .edge-Coins .edge-Coin .text-Caption .Title02{margin-bottom:10px;font-size:18px;line-height:24px}
.userManagement .edge-Coin:first-child .btn-Wrap{margin-top:100px}
.userManagement .edge-Coin .btn-Wrap{margin-top:125px}
.userManagement .Title02{font-size:20px;line-height:30px;margin-bottom:20px}
.userManagement .user-infoBox01{width:100%;padding-right:0;margin-bottom:20px;padding-bottom:20px;border-right:none;border-bottom:1px solid rgba(255,255,255,.1)}
.userManagement .user-infoBox02{width:100%;padding-left:0;position: relative;}
.userManagement .user-infoBox .Title02{font-size:18px;margin-bottom:10px}
.userManagement .wallet-Id{width:100%}
.userManagement .wallet-Id a.wallet-Id01{font-size:12px;height:50px;line-height:1.2;word-break:break-all;padding:10px}
.userManagement .wallet-Id .wallet-Id02 a{font-size:11px;padding:10px;word-break:break-word}
.userManagement .legder-Wallet{flex-direction:column;align-items:flex-start;margin-bottom:20px}
.userManagement .legder-Wallet span{padding-left:5px;padding-right:0}
.userManagement .legder-Wallet .Title03{font-size:16px;margin-top:5px}
.userManagement .ledger-Block{padding-top:20px}
.userManagement .ledger-Table{margin-top:10px}
.userManagement .ledger-Block .Title02{font-size:20px;color:#fff;margin-bottom:5px;line-height:24px}
.userManagement .ledger-Block .ledger-Table{padding:0}
.userManagement .ledger-Block .ledger-Table~.ledger-Table{padding:10px 0 20px}
.userManagement .legder-Wallet span a.edit-Btn{-webkit-transform:scale(.7);transform:scale(.7);vertical-align:middle}
.userManagement .ledger-Table table tr td, .userManagement .ledger-Table table tr th{padding:10px;font-size:12px;text-align:left;border:none;border-left:none;border-top:none;border:1px solid #062028;width:30%}
.userManagement .ledger-Table table tr.border-Top{border-top:2px solid #faba37}
.userManagement .ledger-Table table tr:last-child td, .userManagement .ledger-Table table tr:last-child th{border-bottom:none}
.userManagement .metamask-Wrap{padding-top:5px}
.userManagement .metamask-Detail .Title03{font-size:16px;margin-bottom:5px;margin-top:0}
.userManagement .metamask-Detail .total-Amt{font-size:20px;line-height:30px;margin-bottom:10px}
.userManagement .metamask-Detail .sub-Amt{font-size:16px;margin-bottom:10px}
.userManagement .metamask-Detail .sub-Amt span{font-size:16px}
.userManagement .metamask-Box .metamask-Box01{padding:20px}
.userManagement .metamask-Box .metamask-Box01 img{-webkit-transform:scale(.7);transform:scale(.7)}
.userManagement .metamask-Box{width:100%;padding:0}
.userManagement .metamask-Detail{width:100%;padding-left:0;padding-top:10px}
.userManagement .metamask-Detail .add-Credit{margin-top:5px;font-size:13px;padding:8px 10px}
.userManagement .metamask-Box .btn{height:50px;line-height:50px;font-size:16px}
.userManagement .metamask-Box p a{font-size:13px}
.userManagement .metamask-Box .metamask-Box01 .title-Name{font-size:16px;margin-top:0}
.userManagement .tokens-Popup, .userManagement .tokens-Popup02{overflow-y:scroll}
.userManagement .token-Box .token-Box02{width:100%;margin-bottom:20px}
.userManagement .token-Box .token-Box02:nth-child(3){margin-bottom:0}
.userManagement .tokens-Popup02 .token-Box{margin:0;padding:30px 0}
.userManagement .tokens-Popup02 .token-Box{position:relative;top:0;left:0;transform:none}
.userManagement .tokens-Popup .close-Icon, .userManagement .tokens-Popup02 .close-Icon, .userManagement .verification-Popup .close-Icon, .userManagement .wallet-Popup .close-Icon{top:0;right:0;-webkit-transform:scale(.6);transform:scale(.6)}
.userManagement .token-Box .token-Box02 .img-Box{height:250px}
.userManagement .tokens-Popup .close-Icon img, .userManagement .tokens-Popup02 .close-Icon img, .userManagement .wallet-Popup .close-Icon img{width:30px;height:30px}
.userManagement .tokens-Popup02 .addfund-container{margin:70px 0 20px}
.userManagement .main-Popup .user-smallBlock{margin:0 20px}
.userManagement .main-Popup .close-Icon02, .userManagement .wallet-Popup .close-Icon{width:60px;height:60px;-webkit-transform:scale(.6);transform:scale(.6);right:-1px;top:0}
.userManagement .main-Popup .btn-large, .userManagement .user-Bg .user-smallBox .btn{height:50px;line-height:50px;margin-top:20px;font-size:16px;width:100%}
.userManagement .main-Popup.verify-Code p{font-size:12px;margin:10px 0}
.userManagement .metamask-Detail .text-Title{font-size:14px;line-height:22px}
.userManagement .search-Bx input{font-size:15px;line-height:20px}
.userManagement .search-Bx a{-webkit-transform:scale(.6);transform:scale(.6);margin-right:0;position:relative;top:5px}
.userManagement .wallet-popupBlock{padding:30px 20px}
.userManagement .search-Bx{padding-bottom:10px;margin-bottom:15px}
.userManagement .verification-Popup .tab-Content#tab-4, .userManagement .verification-Popup .tab-Content#tab-5{margin-top:30px;min-height:270px}
.userManagement .verification-Popup .tab-Nav .tab-Link{width:100%}
.userManagement .verification-Popup .input-Bx03{height:60px}
.userManagement .verification-Popup .input-Bx03 .icon-Box{font-size:24px;top:17px}
.userManagement .verification-Popup .join-Btn{line-height:60px;font-size:20px}
.userManagement .verification-Popup{margin-top:0}
.userManagement .verification-Popup .input-Bx03{flex-wrap:wrap;margin-top:20px;flex-direction:row}
.userManagement .joinpsDropdown, .userManagement .verification-Popup .input-Bx03 input{width:100%}
.userManagement .verification-Popup .join-Btn{width:100%!important;margin-top:20px;border-radius:6px!important}
.userManagement .joinpsCmenu:after{top:25px}
.userManagement .joinpsCtextbox{line-height:60px;height:60px}
.userManagement .joinpsCtextbox span+span input{height:60px!important}
.userManagement .joinpsCmenu{min-height:60px;padding:5px 10px}
.userManagement .joinpsCtextbox span{line-height:60px}
.userManagement .footer{padding:30px 20px;margin-left:0}
.userManagement .footer .footer-left, .userManagement .footer .footer-right{width:100%;text-align:center}
.userManagement .footer .footer-right .social-Icons{padding-bottom:20px}
.userManagement .footer .footer-left{margin-bottom:30px}
.userManagement .footer .footer-left .f-Link a{font-size:12px;padding:0 5px}
.userManagement .footer .footer-left .footer-logo>a{padding-right:0;margin-bottom:30px}
.userManagement .footer .footer-left p span{display:block;margin-bottom:5px}
.userManagement .footer .footer-left p{line-height:20px;margin-top:5px}
.userManagement .footer .footer-right p{font-size:13px;display:inline}
.userManagement .footer{padding:10px 20px 0;margin-left:0}
.userManagement .footer .footer-left, .userManagement .footer .footer-right{width:100%;text-align:center}
.userManagement .footer .footer-right .social-Icons{padding-bottom:20px}
.userManagement .footer .footer-left{margin-bottom:30px}
.userManagement .footer .footer-left .f-Link a{font-size:12px;padding:0 5px}
.userManagement .footer .footer-left .footer-logo>a{padding-right:0;margin-bottom:0;margin-right:20px}
.userManagement .footer .footer-left p span{display:block;margin-bottom:5px}
.userManagement .footer .footer-left p{line-height:20px;margin-top:5px}
.userManagement .footer .footer-right p{font-size:13px;display:inline}
.userManagement .legder-Wallet02{flex-wrap:wrap;flex-direction:column;align-content:flex-start}
.userManagement .legder-Wallet02 .Title03{width:100%}
.userManagement .wallet-Id-2{width:100%;position:relative}
.userManagement .wallet-Id-2 a.wallet-Id01{font-size:14px;word-break:break-all;height:auto;line-height:20px;padding:9px}
.userManagement .wallet-Id-2 .wallet-Id02 a{padding:11px;font-size:14px;word-break:break-all}
.userManagement .AprWalBox{display:flex;flex-wrap:wrap;font-size:16px}
.userManagement .AprWalBox span:nth-child(1){width:30%;margin-bottom:10px}
.userManagement .AprWalBox span:nth-child(2){width:70%;text-align:left;padding-right:15px}
.userManagement .AprWalBox span:nth-child(3){width:90%;color:#faba37}
.userManagement .AprWalBox span:nth-child(4){width:10%;text-align:right}
.userManagement .search-btn-bx{width:100%;font-size:16px;color:#fff;text-align:right;padding-top:20px}
.userManagement .search-btn-bx a{color:#fff;font-weight:600}
.userManagement .search-btn-bx a:hover{color:#faba37}
.userManagement .search-Bx{margin-bottom:0;padding:15px;background-color:#0d0d0d;border:2px solid #1a1a1a;border-radius:5px;width:100%}
.userManagement .addWall_input input{width:100%;height:70px;font-size:18px}
.userManagement .wallet-boxWrap .wallet-Bx{width:50%}
.userManagement .delConBTN{font-size:22px;font-weight:500;padding:14px 18px;min-width:100px;margin:0 10px}
.userManagement .footer .footer-left .f-Link{position:relative}



.userManagement .uc-btn03, .userManagement .uc-btn04{width:100%;margin:0 0 10px 0;word-break: break-all;white-space: normal;line-height: 20px;padding: 12px 33px;}
.userManagement .User-CoinPopup {top: 100px;}
.userManagement .User-CoinPopup.Open {right: -6%;}
.userManagement .logo a img{max-width: 116px;}
.userManagement .auc-Btn{font-size:18px;padding: 38px 0 0 72px;}
.userManagement #um-timer02 .days span, .userManagement #um-timer02 .hours span, .userManagement #um-timer02 .minutes span, .userManagement #um-timer02 .seconds span{display:inline-block;width: 19px;height: 25px;font-size: 20px;} 
.userManagement .joinpsCmenu02Container {height: 250px;overflow-y: scroll;}



}
@media (min-width:768px) and (max-width:991px){
.userManagement .main{margin-top:57px}
.userManagement .container-Grid{padding:0 20px}
.userManagement .rgdev-item a{padding:7px 15px;font-size:14px}
.userManagement .rgdev-item .langBox{padding-right:0;padding-left:0;-webkit-transform:scale(.7);transform:scale(.7);top:-7px;position:relative;right:0}
.userManagement .user-Bg{padding:70px 0}
.userManagement .Title01{font-size:24px}
.userManagement .user-smallBox{padding:30px}
.userManagement .btn-large{height:70px;line-height:70px;font-size:24px}
.userManagement .email-Textbox{padding:50px 0}
.userManagement .email-Text{font-size:20px;line-height:24px;margin-bottom:10px}
.userManagement .tokens-Popup{overflow-y:scroll}
.userManagement .email-Links a{font-size:20px}
.userManagement .main-Popup .user-smallBox .Title01{font-size:24px}
.userManagement .user-Bg{min-height:795px}
.userManagement .input-Bx{margin-top:30px}
.userManagement .input-Bx input{height:70px;line-height:70px;font-size:24px;padding:15px 15px 14px 80px}
.userManagement .user-smallBox .btn{height:70px;line-height:70px;font-size:24px;margin-top:30px}
.userManagement .input-Bx .icon-Box{top:20px}
.userManagement .kyc-Status ul li{font-size:14px}
.userManagement .kyc-Status ul li:not(:last-child):after{width:40px;margin-left:5px}
.userManagement .login-Status{font-size:13px}
.userManagement .input-Bx01 label{font-size:16px}
.userManagement .input-Bx01 input{font-size:16px;height:50px}
.userManagement .input-Bx01 a.edit-Btn{-webkit-transform:scale(.8);transform:scale(.8)}
.userManagement .user-Bg01{padding-bottom:0}
.userManagement .user-Info{padding:40px 0 30px}
.userManagement .edge-Holding{padding:40px 0}
.userManagement .edge-Holding .Title02{font-size:20px;margin-bottom:5px}
.userManagement .edge-holdingBlock, .userManagement .edge-holdingBlock02{padding:20px 0 50px}
.userManagement .edge-Coins .edge-Coin{width:50%}
.userManagement .edge-Coins .edge-Coin:last-child{margin-top:50px}
.userManagement .edge-holdingBlock02 .edge-Coins .edge-Coin p{width:100%;margin:10px auto 0;font-size:14px}
.userManagement .edge-Coins .edge-Coin .text-Caption{width:100%;top:85px}
.userManagement .edge-Coin .coins-Status .coin-Amt{font-size:16px}
.userManagement .edge-Coin .coins-Status .coin-Amt span{font-size:16px}
.userManagement .edge-Coins .edge-Coin .img-Box{-webkit-transform:scale(.8);transform:scale(.8)}
.userManagement .edge-Coins .edge-Coin .text-Caption .Title02{margin-bottom:5px;font-size:20px;line-height:24px}
.userManagement .edge-Coin:first-child .btn-Wrap{margin-top:60px}
.userManagement .edge-Coin .btn-Wrap{margin-top:85px}
.userManagement .edge-Coin .coins-Status .coin-Available p{font-size:18px;line-height:24px}
.userManagement .Title02{font-size:24px}
.userManagement .user-titleBox{padding-top:20px}
.userManagement .user-infoBox01{width:100%;margin-bottom:30px;padding-bottom:30px;padding-right:0;border-right:none;border-bottom:1px solid rgba(255,79,55,.27)}
.userManagement .user-infoBox02{width:100%;padding-left:0;position: relative;}
.userManagement .user-infoBox .Title02{font-size:18px;margin-bottom:10px}
.userManagement .wallet-Id a.wallet-Id01{font-size:16px;height:50px;line-height:50px;padding:0 15px}
.userManagement .wallet-Id .wallet-Id02 a{font-size:13px;padding:15px}
.userManagement .legder-Wallet .Title03{font-size:18px}
.userManagement .ledger-Block{padding-top:35px;padding-bottom:0}
.userManagement .ledger-Table{margin-top:0}
.userManagement .ledger-Block .ledger-Table{padding:0}
.userManagement .ledger-Block .ledger-Table~.ledger-Table{padding:10px 0 30px}
.userManagement .ledger-Table table tr.border-Top{border-top:2px solid #ff4f37}
.userManagement .ledger-Table table tr th{font-size:15px;padding:15px;border-bottom:none;border:1px solid #03376b;text-align:left}
.userManagement .ledger-Table table tr td{font-size:14px}
.userManagement .ledger-Table table tr:nth-child(odd){background:#011427}
.userManagement .ledger-Block .Title02{font-size:20px;margin-bottom:10px}
.userManagement .login-Status{margin-bottom:20px;font-size:14px}
.userManagement .legder-Wallet{margin-bottom:40px}
.userManagement .legder-Wallet span{padding-left:20px;padding-right:20px}
.userManagement .legder-Wallet span a.edit-Btn{-webkit-transform:scale(.8);transform:scale(.8)}
.userManagement .wallet-Id{width:calc(100% - 160px)}
.userManagement .input-Bx01{margin-bottom:5px;padding-bottom:5px}
.userManagement .kyc-Status ul li{font-size:14px}
.userManagement .metamask-Wrap{padding-top:10px}
.userManagement .metamask-Detail .Title03{font-size:18px;margin-top:5px;margin-top:5px}
.userManagement .metamask-Detail .total-Amt{font-size:30px;line-height:40px;margin-bottom:10px}
.userManagement .metamask-Detail .sub-Amt{font-size:18px;margin-bottom:10px}
.userManagement .metamask-Box .metamask-Box01{padding:20px}
.userManagement .metamask-Box .metamask-Box01 .title-Name{margin-top:20px;font-size:18px}
.userManagement .metamask-Box{width:40%;padding-right:20px}
.userManagement .metamask-Box p a{font-size:14px}
.userManagement .metamask-Detail{width:60%;padding-left:20px}
.userManagement .metamask-Detail .add-Credit{margin-top:10px;font-size:14px;padding:10px 8px}
.userManagement .metamask-Detail .text-Title{font-size:18px;line-height:24px;width:60%}
.userManagement .metamask-Box .btn{height:50px;line-height:50px;font-size:16px}
.userManagement .metamask-Detail .sub-Amt, .userManagement .metamask-Detail .sub-Amt span{font-size:16px}
.userManagement .tokens-Popup02 .token-Box{width: 100%;padding:70px 0;}
.userManagement .token-Box .token-Box02{width:30%}
.userManagement .token-Box .token-Box02 .img-Box{height: 310px;}
.userManagement .token-Box .token-Box02{width:50%}
.userManagement .token-Box .token-Box02:last-child{margin-top:30px}
.userManagement .wallet-popupBlock{padding:40px 20px 20px}
.userManagement .wallet-Popup .close-Icon{right:-15px;top:-25px}
.userManagement .wallet-boxWrap .wallet-Bx .img-Box{height:160px}
.userManagement .wallet-boxWrap .wallet-Bx .img-Box img{-webkit-transform:scale(.7);transform:scale(.7)}
.userManagement .wallet-boxWrap .wallet-Bx .img-Box .title-Name{bottom:10px;font-size:15px}
.userManagement .wallet-Bx.coming-Soon:before{font-size:20px}
.userManagement .search-Bx{margin-bottom:20px;padding-bottom:10px}
.userManagement .search-Bx input{font-size:20px;line-height:24px}
.userManagement .search-Bx a{-webkit-transform:scale(.75);transform:scale(.75);margin-right:5px}
.userManagement .tokens-Popup .Title01{margin:30px auto;font-size:20px;line-height:30px}
.userManagement .token-Box .token-Box01{width:50%}
.userManagement .token-Box .token-Box01 .img-Box{height:300px;margin-bottom:30px}
.userManagement .token-Box .token-Box01 .img-Box img{transform:scale(.7);-webkit-transform:scale(.7)}
.userManagement .verification-Popup .input-Bx03{height:60px}
.userManagement .verification-Popup .input-Bx03 .icon-Box{font-size:24px;top:17px}
.userManagement .verification-Popup .join-Btn{line-height:60px;font-size:20px}
.userManagement .joinpsDropdown, .userManagement .verification-Popup .input-Bx03 input{width:calc(100% - 250px)}
.userManagement .joinpsCtextbox{line-height:60px}
.userManagement .joinpsCtextbox span+span input{height:60px!important}
.userManagement .joinpsCmenu{top:-8px}
.userManagement .joinpsCtextbox span{line-height:60px}
.userManagement .footer{padding:30px 20px}
.userManagement .footer .footer-left p, .userManagement .footer .footer-left p a{font-size:10px;line-height:14px}
.userManagement .footer .footer-left p+p{margin-top:10px}
.userManagement .footer .footer-left .footer-logo a img{width:80px}
.userManagement .footer .footer-left .f-Link a, .userManagement .footer .footer-right .social-Icons h5, .userManagement .footer .footer-right p{font-size:11px;line-height:14px}
.userManagement .footer .footer-left .f-Link a{padding:0 4px}
.userManagement .footer .footer-right .social-Icons li{padding-right:0}
.userManagement .footer .footer-right .social-Icons li a{transform:scale(.8);-webkit-transform:scale(.8)}
.userManagement .footer .footer-left .footer-logo a{padding-right:5px}
.userManagement .footer{padding:30px 20px 0 20px}
.userManagement .footer .footer-left p, .userManagement .footer .footer-left p a{font-size:10px;line-height:14px}
.userManagement .footer .footer-left p+p{margin-top:10px}
.userManagement .footer .footer-left .footer-logo a img{width:80px}
.userManagement .footer .footer-left .f-Link a, .userManagement .footer .footer-right .social-Icons h5, .userManagement .footer .footer-right p{font-size:11px;line-height:14px}
.userManagement .footer .footer-left .f-Link a{padding:0 4px}
.userManagement .footer .footer-right .social-Icons li{padding-right:0}
.userManagement .footer .footer-right .social-Icons li a{transform:scale(.8);-webkit-transform:scale(.8)}
.userManagement .footer .footer-left .footer-logo a{padding-right:5px}
.userManagement .footer .footer-left{width:60%}
.userManagement .footer .footer-right{width:40%}



.userManagement .uc-btn03, .userManagement .uc-btn04{ width:100%; margin:0 0 10px 0;}
.userManagement .User-CoinPopup {top: -40px;}
.userManagement .User-CoinPopup.Open {  right: 0%; }
.userManagement .logo a img{max-width: 116px;}
.userManagement .auc-Btn{font-size:18px;padding: 38px 0 0 72px;}
.userManagement #um-timer02 .days span, .userManagement #um-timer02 .hours span, .userManagement #um-timer02 .minutes span, .userManagement #um-timer02 .seconds span{display:inline-block;width: 19px;height: 25px;font-size: 20px;} 

}
@media (max-width:991px){
.userManagement .npShowMD{display:none!important}
.userManagement .npShowSM{display:block!important}
.userManagement .tab-navMobile{display:block}
.userManagement .rgdev-list{position:absolute;top:10px;z-index:9999;display:none}
.userManagement .mobile-sub{margin:0;padding:0;list-style:none;float:none;width:100%;background:rgba(1,49,98,.9);padding:20px}
.userManagement .header{padding:10px 20px}
.userManagement .rgdev-item{text-align:left}
.userManagement .rgdev-item a.navBtn{display:inline-block}
.userManagement .rgdev-mobile{display:block;right:95px;top:17px;background:#ff4f37}
.userManagement .logo a img{position:relative;top:2px;width:180px}
.userManagement .auc-Btn{top: -26px;height: 97px;width: 570px;background-size: cover;}
.userManagement .auc-Btn a{-webkit-transform:scale(.7);transform:scale(.5);position:relative;left:-50px;top:0}
.userManagement .mobile-sub .rgdev-item a.langBox, .userManagement .mobile-sub .rgdev-item a.user-Menu{display:none}
.userManagement .mobile-Item01{position:absolute;top:11px;right:82px}
.userManagement .mobile-Item02{position:absolute;right:13px;top:4px;-webkit-transform:scale(.95);transform:scale(.95)}
.userManagement .user-Status{display:none}
.userManagement .user-Menu:before{right:-12px;top:7px}
.userManagement .mobile-Item01 a, .userManagement .mobile-Item02 a{padding:5px}
.userManagement #userBox1{padding:15px;margin-bottom:5px}
.userManagement #userBox1 a{text-transform:capitalize;font-size:13px}
.userManagement .langBoxContainer{top:24px}
.userManagement .wallet-Bx.coming-Soon:before{font-size:20px}
.userManagement .container-Full{padding:0 20px}





}
@media (min-width:992px) and (max-width:1199px){
.userManagement .container-Grid{padding:0 20px}
.userManagement .header{padding:10px 20px}
.userManagement .rgdev-item a{padding:7px 10px;font-size:16px}
.userManagement .user-Bg{padding:70px 0}
.userManagement .email-Textbox{padding:70px 0}
.userManagement .email-Text{font-size:24px;line-height:36px;margin-bottom:15px}
.userManagement .tokens-Popup{overflow-y:scroll}
.userManagement .token-Box{width:100%;margin:0 auto}
.userManagement .token-Box .token-Box01{width:25%}
.userManagement .token-Box .token-Box01 .img-Box{height:200px;margin-bottom:0}
.userManagement .token-Box .token-Box01 .img-Box img, .userManagement .token-Wrap .token-Box .token-Box01 .img-Box img{transform:scale(.7);-webkit-transform:scale(.7)}
.userManagement .container-Full{padding:0 20px}
.userManagement .user-Bg{min-height:auto}
.userManagement .input-Bx01 label{font-size:18px}
.userManagement .input-Bx01 input{font-size:18px;height:60px}
.userManagement .user-Bg01{padding-bottom:0}
.userManagement .user-Info{padding:50px 0}
.userManagement .edge-Holding{padding:40px 0}
.userManagement .edge-Holding .Title02{font-size:24px;margin-bottom:5px}
.userManagement .edge-holdingBlock, .userManagement .edge-holdingBlock02{padding:20px 0 50px}
.userManagement .edge-holdingBlock02 .edge-Coins .edge-Coin .title-Wrap p{width:100%;margin:10px auto 0;font-size:14px}
.userManagement .edge-Coins .edge-Coin .text-Caption{width:100%;top:85px}
.userManagement .edge-Coin .coins-Status .coin-Amt{font-size:16px}
.userManagement .edge-Coin .coins-Status .coin-Amt span{font-size:16px}
.userManagement .edge-Coins .edge-Coin .img-Box{-webkit-transform:scale(.8);transform:scale(.8)}
.userManagement .edge-Coins .edge-Coin .text-Caption .Title02{margin-bottom:5px;font-size:20px;line-height:24px}
.userManagement .edge-Coin:first-child .btn-Wrap{margin-top:60px}
.userManagement .edge-Coin .btn-Wrap{margin-top:85px}
.userManagement .edge-Coin .coins-Status .coin-Available p{font-size:18px;line-height:24px}
.userManagement .Title02{font-size:24px}
.userManagement .user-infoBox01{width:100%;margin-bottom:30px;padding-bottom:30px;padding-right:0;border-right:none;border-bottom:1px solid rgba(255,255,255,.1)}
.userManagement .user-infoBox02{width:100%;padding-left:0;position:relative}
.userManagement .user-infoBox .Title02{font-size:20px;margin-bottom:15px}
.userManagement .wallet-Id a.wallet-Id01{font-size:18px}
.userManagement .wallet-Id .wallet-Id02 a{font-size:15px}
.userManagement .legder-Wallet .Title03{font-size:20px}
.userManagement .ledger-Block{padding-top:35px;padding-bottom:0}
.userManagement .ledger-Table{margin-top:0;padding-bottom:20px}
.userManagement .ledger-Table table tr th{font-size:14px}
.userManagement .ledger-Table table tr td{font-size:13px}
.userManagement .ledger-Block .Title02{font-size:24px;margin-bottom:15px}
.userManagement .login-Status{margin-bottom:20px;font-size:14px}
.userManagement .legder-Wallet{margin-bottom:40px}
.userManagement .input-Bx01{margin-bottom:5px;padding-bottom:5px}
.userManagement .metamask-Wrap{padding-top:10px}
.userManagement .metamask-Detail .Title03{font-size:18px;margin-top:5px}
.userManagement .metamask-Detail .total-Amt{font-size:35px;line-height:45px;margin-bottom:10px}
.userManagement .metamask-Detail .sub-Amt{font-size:18px;margin-bottom:10px}
.userManagement .metamask-Box .metamask-Box01{padding:20px}
.userManagement .metamask-Box .metamask-Box01 .title-Name{margin-top:25px}
.userManagement .metamask-Box{width:40%;padding-right:20px}
.userManagement .metamask-Box p a{font-size:14px}
.userManagement .metamask-Detail{width:60%;padding-left:20px}
.userManagement .metamask-Detail .add-Credit{margin-top:10px;font-size:16px;padding:10px 8px}
.userManagement .metamask-Detail .text-Title{font-size:18px;line-height:24px;width:35%}
.userManagement .metamask-Box .btn{height:50px;line-height:50px;font-size:20px}
.userManagement .tokens-Popup02 .token-Box{width:90%;padding:100px 0}
.userManagement .token-Box .token-Box02{width:30%}
.userManagement .token-Box .token-Box02 .img-Box{height:250px}
.userManagement .wallet-popupBlock{padding:70px 30px 30px}
.userManagement .wallet-Popup .close-Icon{right:-15px;top:-25px}
.userManagement .wallet-boxWrap .wallet-Bx .img-Box{height:210px}
.userManagement .wallet-boxWrap .wallet-Bx .img-Box img{-webkit-transform:scale(.7);transform:scale(.7)}
.userManagement .wallet-boxWrap .wallet-Bx .img-Box .title-Name{bottom:25px}
.userManagement .wallet-Bx.coming-Soon:before{font-size:20px}
.userManagement .search-Bx{margin-bottom:20px}
.userManagement .search-Bx input{font-size:20px;line-height:24px}
.userManagement .search-Bx a{font-size:20px}
.userManagement .token-Box .token-Box02{width:30%}
.userManagement .token-Box .token-Box02 .img-Box{height:250px}
.userManagement .footer{padding:50px 20px}
.userManagement .footer .footer-left .f-Link a{padding:0 5px}
.userManagement .footer .footer-left p+p{line-height:1.5}
.userManagement .footer .footer-right p{font-size:13px}
.userManagement .footer .footer-left .f-Link a{font-size:13px}
.userManagement .footer .footer-left{width:70%}
.userManagement .footer .footer-right{width:30%}

.userManagement .uc-btn03, .userManagement .uc-btn04{ width:100%; margin:0 0 10px 0;}
.userManagement .User-CoinPopup {top: -40px;}
.userManagement .User-CoinPopup.Open {  right: 0%; }
.userManagement .logo a img{max-width: 160px;}




}
@media (min-width:992px){
    .userManagement .mobile-Item01, .userManagement .mobile-Item02{display:none}
}
@media (min-width:1200px) and (max-width:1399px){
.userManagement .user-Bg{min-height:auto;padding-top:120px}
.userManagement .container-Grid{padding:0 30px}
.userManagement .token-Box .token-Box01 .img-Box{height:280px}
.userManagement .metamask-Detail .Title03, .userManagement .metamask-Detail .sub-Amt{font-size:16px;margin-bottom:10px}
.userManagement .metamask-Detail .total-Amt{font-size:33px;margin-bottom:15px}
.userManagement .user-infoBox .Title02{font-size:24px}
.userManagement .user-infoBox01{padding-right:25px}
.userManagement .user-infoBox02{padding-left:25px}
.userManagement .metamask-Detail .add-Credit{font-size:16px;margin:6px 0 18px 0;font-weight:600}
.userManagement .metamask-Box{width:50%}
.userManagement .metamask-Detail{width:50%;padding-left:30px}
.userManagement .metamask-Box .metamask-Box01{padding:25px 0}
.userManagement .input-Bx01 input, .userManagement .input-Bx01 label{font-size:20px}
.userManagement .metamask-Box .metamask-Box01 img{width:110px}
.userManagement .metamask-Box .btn-large{height:60px;line-height:60px;font-size:16px}
.userManagement .wallet-Id a.wallet-Id01{font-size:20px}
.userManagement .metamask-Detail .text-Title{font-size:18px;line-height:30px}
.userManagement .edge-Coins .edge-Coin .text-Caption .Title02{font-size:30px}
.userManagement .ledger-Table table tr td{font-size:14px}
.userManagement .footer .footer-left .footer-logo a{padding-right:5px}
.userManagement .footer .footer-left .f-Link a{font-size:12px;padding:0 5px}
.userManagement .footer .footer-left .footer-logo a{padding-right:5px}
.userManagement .footer .footer-left .f-Link a{font-size:12px;padding:0 5px}
.userManagement .footer{padding-left:30px;padding-right:30px}
.userManagement .user-Info{padding:20px 0 60px 0;position:relative}
.userManagement .legder-Wallet02{display:flex;flex-direction:row;flex-wrap:wrap;align-items:center;margin-bottom:60px}
.userManagement .legder-Wallet02 span{padding-left:45px;padding-right:45px;display:inline-block}
.userManagement .legder-Wallet02 span a.edit-Btn{color:#656565;font-size:24px;display:inline-block}
.userManagement .legder-Wallet02 .Title03{width:130px}
.userManagement .wallet-Id-2{width:calc(100% - 130px);position:relative}
.userManagement .wallet-Id-2 a.wallet-Id01{background:#0f191d;width:100%;height:70px;border-radius:3px;display:inline-block;padding:0 15px;color:#fff;font-size:14px;line-height:70px;position:relative;font-weight:300;border:2px solid #1e2f35}
.userManagement .wallet-Id-2 a.wallet-Id01:before{content:"";border-width:0 8px 8px 0;border-style:solid;border-color:transparent transparent #faba37 transparent;position:absolute;right:6px;bottom:6px;-webkit-transform:rotate(-90deg);transform:rotate(-90deg)}
.userManagement .wallet-Id-2 .wallet-Id02{background:#000}
.userManagement .wallet-Id-2 .wallet-Id02 a{display:block;padding:20px 14px;color:#fff;border-bottom:1px solid rgba(255,255,255,.1);font-size:14px}
.userManagement .wallet-Id .wallet-Id02 a:focus, .userManagement .wallet-Id-2 .wallet-Id02 a:hover{background:#151515}
.userManagement .AprWalBox{font-size:14px}
.userManagement .verification-Popup .Title01{font-size:24px;max-width:1000px;margin:0 auto;text-align:center}
.userManagement .tab-Nav{display:flex;flex-direction:row;flex-wrap:wrap;margin-top:20px}
.userManagement .User-CoinPopup{top:-10px}
.userManagement .uc-btn03, .userManagement .uc-btn04{font-size:15px}
}
@media (min-width:1400px) and (max-width:1599px){
.userManagement .metamask-Detail .Title03, .userManagement .metamask-Detail .sub-Amt{font-size:16px;margin:8px 0}
.userManagement .metamask-Detail .total-Amt{font-size:40px}
.userManagement .user-infoBox .Title02{font-size:30px}
.userManagement .user-infoBox01{padding-right:45px}
.userManagement .user-infoBox02{padding-left:45px}
.userManagement .metamask-Box{width:50%}
.userManagement .metamask-Detail{width:50%;padding-left:40px}
.userManagement .metamask-Box .metamask-Box01{padding:35px 0}
.userManagement .edge-Coins .edge-Coin .text-Caption{width:75%}
.userManagement .user-Info{padding:20px 0 60px 0}
.userManagement .legder-Wallet02{display:flex;flex-direction:row;flex-wrap:wrap;align-items:center;margin-bottom:60px}
.userManagement .legder-Wallet02 span{padding-left:45px;padding-right:45px;display:inline-block}
.userManagement .legder-Wallet02 span a.edit-Btn{color:#656565;font-size:24px;display:inline-block}
.userManagement .legder-Wallet02 .Title03{width:130px}
.userManagement .wallet-Id-2{width:calc(100% - 130px);position:relative}
.userManagement .wallet-Id-2 a.wallet-Id01{background:#0f191d;width:100%;height:70px;border-radius:3px;display:inline-block;padding:0 15px;color:#fff;font-size:14px;line-height:70px;position:relative;font-weight:300;border:2px solid #1e2f35}
.userManagement .wallet-Id-2 a.wallet-Id01:before{content:"";border-width:0 8px 8px 0;border-style:solid;border-color:transparent transparent #faba37 transparent;position:absolute;right:6px;bottom:6px;-webkit-transform:rotate(-90deg);transform:rotate(-90deg)}
.userManagement .wallet-Id-2 .wallet-Id02{background:#000}
.userManagement .wallet-Id-2 .wallet-Id02 a{display:block;padding:20px 14px;color:#fff;border-bottom:1px solid rgba(255,255,255,.1);font-size:14px}
.userManagement .wallet-Id .wallet-Id02 a:focus, .userManagement .wallet-Id-2 .wallet-Id02 a:hover{background:#151515}
.userManagement .AprWalBox{font-size:14px}
}
@media (min-width:1600px) and (max-width:1880px){
.userManagement .metamask-Box{width:50%}
.userManagement .metamask-Detail{width:50%;padding-left:50px}
.userManagement .metamask-Box .metamask-Box01{padding:50px 0}
.userManagement .metamask-Detail .total-Amt{font-size:45px}
.userManagement .metamask-Detail .Title03, .userManagement .metamask-Detail .sub-Amt{font-size:22px}
}
@media (min-aspect-ratio:16/9){
    .userManagement .fullscreen-bg__video{height:300%;top:-100%}
}
@media (max-aspect-ratio:16/9){
    .userManagement .fullscreen-bg__video{width:300%;left:-100%}
}